html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Graphik';
}
.main-bg {
    background: url("../img/index-top-img.jpg") no-repeat;
    width: 100%;
    height: 680px;
    background-size: 100% 100%;
     background-position: top; 
}
@media screen and (max-width:700px) {
    .main-bg{
        background: url(../img/mediaq.PNG)no-repeat;
    }
    
}
nav {
    position: relative;
    padding-bottom: 12px;
    font-weight: 500;
    font-family: 'Graphik';
}

nav .line {
    height: 3px;
    position: absolute;
    bottom: 27px;
    border-radius: 10px;
    margin: 10px 0 0 0;
    background: rgb(242,135,5);
    background: -moz-linear-gradient(left,  rgba(242,135,5,1) 0%, rgba(229,72,24,1) 82%);
    background: -webkit-linear-gradient(left,  rgba(242,135,5,1) 0%,rgba(229,72,24,1) 82%);
    background: linear-gradient(to right,  rgba(242,135,5,1) 0%,rgba(229,72,24,1) 82%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f28705', endColorstr='#e54818',GradientType=1 );
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 40px 0 0;
    opacity: .4;
    transition: all 0.4s ease;
}

nav ul li:hover {
    opacity: .7;
}

nav ul li.active {
    opacity: 1;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    display: block;
    font-size: 14px;
}
nav ul li a:hover {
    color: #fff;
}
.navbar {
    position: fixed;
    z-index: 9;
    width: 100%;
}
.navbar-nav .nav-link {
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.to-top {
    position: relative;
    z-index: 99;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 100;
    border: none;
    outline: none;
    background: linear-gradient(to right, rgba(242,135,5,1) 0%,rgba(229,72,24,1) 80%);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 12px;
    font-size: 20px;
}
@media screen and (max-width:700px) {
    #myBtn{
        z-index: 100;
        border: none;
left: 10px;
border-radius: 12px;
width: 40px;
padding: 10px;
bottom: 10px;
font-size: 20px;

    }
    
}

#myBtn:hover {
 background: linear-gradient(to right, rgba(242,135,5,1) 0%,rgba(229,72,24,1) 80%);
    cursor: pointer;
    
    
}
.banner-text {
    opacity: 1;
    box-shadow: rgba(25, 30, 46, 0.4) 0px 0px 0px 0px;
    transform: translateY(0px) scale(1);
    position: relative;
    right: 150px;
    top: 25%;
    z-index: 9;
    float: right;
    width: 30%;
    color: #fff;
}
@media screen and (max-width:700px) {
    .banner-text{
        /* background: url(../img/mediaq.PNG) no-repeat; */
        /* left: 20px;
        top: 10px;
        z-index: 9;
        float: left;
        width: 60%; */
        /* left: -113px; */
        top: 8px;
        z-index: 9;
        /* float: left; */
        width: 10%;
        display: flex;
        justify-content: flex-start;
        align-content: space-around;
        flex-wrap: wrap;
        flex-direction: column;
        /* align-items: flex-end; */


    }





    
}
.main-title {
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
}

.main-text {
    font-size: 16px;
    font-weight: 410;
    float: left;
    color: #fff;
    padding-top: 20px;
}
.see-more-btn {
    background: rgb(242,135,5);
    background: -moz-linear-gradient(left,  rgba(242,135,5,1) 0%, rgba(229,72,24,1) 82%);
    background: -webkit-linear-gradient(left,  rgba(242,135,5,1) 0%,rgba(229,72,24,1) 82%);
    background: linear-gradient(to right,  rgba(242,135,5,1) 0%,rgba(229,72,24,1) 82%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f28705', endColorstr='#e54818',GradientType=1 );
    padding: 5px 45px;
    float: left;
    color: #fff;
    font-weight: 300;
    margin-top: 15px;
}

@media screen and (max-width:700px) {
    .see-more-btn{
        width: 173px;
        height: 40px;
        margin-left: 30px;
        margin-top: 64px;
    }
    
}




















